{
  "repository": {
    "type": "git",
    "url": "https://github.com/ximxim/expo-bw-build-kite.git"
  },
  "publishConfig": {
    "access": "restricted"
  },
  "branches": [
    "main" 
  ],
  "tagFormat": "${version}"
}
